<!DOCTYPE html>
<html lang="en">
<head>
    <title>IDentity Server</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">
            <span class="btn btn-toolbar">Home</span>
        </a>

        @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {

            <a asp-action="Logout" asp-controller="Account" asp-route-Logout="">
                <span>@User.Identity.Name Logout</span>
            </a>
        }
        else
        {

            <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="">
                <span>Login</span>
            </a>
        }
        <div class="main">

            @RenderBody()
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>



