@model LoginViewModel




<div class="row">
    @if (Model.EnableLocalLogin)
    {
        <partial name="_ValidationSummary" />
        <form asp-controller="Account" asp-action="Login" method="post" asp-route-button="login" role="form">
            <input style="display:none" type="hidden" asp-for="ReturnUrl" />
            <input name="username" placeholder="Username" asp-for="Username" autofocus>
            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
			<button type="submit" value="Login">Login</button>
		</form>
    }
</div>


